@import '../base.module.scss';

.main {
  height: 100vh;
  padding-left: $drawerWidth + $drawerMargin*2;

  & .content {
    padding: 10px;
    height: calc(100vh - 20px);
  }
}

.mainMobile {
  @extend .main;
  padding-left: 0px;
}
