.root {
  border-radius: 7px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid black;
  transition: .2s ease;
  background-color: red;

  &:hover {
    transform: scale(1.02);
    transition-duration: 0.2s;
  }
}