@import "../../base.module.scss";

.inputField {
  margin-bottom: 10px;
  font-size: 9px;

  & .underline {
    &::after {
      border-bottom: 2px solid $primaryColor;
    }
  }

  & .error {
    &::after {
      border-bottom: 2px solid red;
    }
  }

  & .input {
    font-size: 17px;
    margin: 10px 0;
    caret-color: $primaryColor;
  }
  
  & .password {
    font-size: 34px;
    caret-color: transparent;
  }

  & .title {
    color: $primaryColor !important;
  }
}