@import '../../base.module.scss';

.loadingContainer {
  .bg {
    height: 100vh;
    position: relative;

    .loadingImg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 125px;
      height: 125px;
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120px;
      height: 120px;
      transform: translate(-50%,-50%);
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 120px;
        transform: rotate(calc(18deg * var(--i)));
  
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 15px;
          height: 15px;
          background-color: $primaryColor;
          border-radius: 50%;
          animation: loadingAnimate .5s linear infinite;
          animation-delay: calc(0.025s * var(--i));
        }
      }
    }
  }
}
