@import '../../base.module.scss';

.Snackbar {
  border-radius: 7px !important;
}

.content {
  background-color: #fff !important;
  color: #000 !important;
  min-width: 350px !important;
  border-radius: 10px !important;

  & .message {
    padding: 0 !important;
  }

  & .close {
    transition: .2s ease;
    color: #000;

    &:hover {
      transform: rotate(90deg);
      transition-duration: .2s;
    }
  }
}

.icon {
  width: 30px !important;
  height: 30px !important;
}

.info {
  color: $info;
}

.error {
  color: $error;
}

.success {
  color: $success;
}

.warning {
  color: $warning;
}
