@import "../../base.module.scss";

.loginForm, .signupForm {
  & .errorMessage {
    color: red;
    font-style: italic;
    text-align: left;
    margin: 10px 0;
  }

  & .saveCredential {
    display: flex;
    justify-content: left;
    margin: 10px 0 10px -10px;
    text-align: left;
    width: fit-content;
    height: fit-content;
  }

  & .savedCredential {
    color: $primaryColor !important;
  }

  & .link {
    color: $primaryColor;
    margin: 0 5px;
    padding: 15px 0;
  }

  & .loginAction {
    display: flex;
    justify-content: center;

    & .signinButton {
      background-color: $primaryColor;
      color: #ffffff;

      &:hover {
        background-color: $secondaryColor;
        color: #000000;
      }
    }

    & .signinButtonWithoutCredential {
      border: 1px solid $primaryColor !important;
      background-color: transparent;
      color: $primaryColor;

      &:hover {
        border: 1px solid $secondaryColor !important;
        background-color: $secondaryColor;
        color: #000000;
      }
    }

    & .or {
      margin: 0 40px;
    }

    @media (max-width: 500px) {
      display: block;

      & .signinButton,
      & .signinButtonWithoutCredential {
        margin: 5px 0;
        width: 100%;
      }

      & .or {
        display: none;
      }
    }
  }

  & .signupLink {
    font-style: italic;

    & .link {
      padding-left: 5px;
      cursor: pointer;
      color: $primaryColor;
    }
  }
  & .displayBlock {
    display: block;
    margin: 8px 0;
  }
}