@import "../base.module.scss";

.container {
  min-height: 100vh;
  background-color: #ffffff;
  
  * {
    font-weight: 300;
  }

  .imgContainer {
    position: relative;
    z-index: 1;
    clip-path: circle(84.5% at 0 23%);
    .img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  .loginContainer {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 2;

    & .tabContainer {
      margin: 40px;
      width: 100%;
      max-width: 500px;

      & .indicator {
        background-color: $primaryColor;
      }

      & .selected {
        color: $primaryColor;
      }

      & h4 {
        margin-bottom: 30px;
      }

      & header {
        box-shadow: none !important;
      }

      & .tabs {
        height: 100%;
      }

      & .transitionContainer {
        @media (min-width: 1024px) {
          & div[role=tabpanel] {
            animation: slide-down 5s ease-out;
          }
        }
      }

      @media (max-width: 450px) {
        margin: 20px;
      }

      @keyframes slide-down {
        0% {
          opacity: 0;
          transform: translateY(100%);
        }
        10% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
