@import "../base.module.scss";

.container {
  min-height: 100vh;
  .img {
  }

  .loginContainer {
    background-color: #ffffff;
    display: flex;
    align-items: center;

    & .tabContainer {
      margin: 40px;
      width: 100%;

      & .indicator {
        background-color: $primaryColor;
      }

      & .selected {
        color: $primaryColor;
      }

      & h4 {
        margin-bottom: 30px;
      }

      & header {
        box-shadow: none !important;
      }

      @media (max-width: 450px) {
        margin: 20px;
      }
    }
  }
}
