$primaryColor:#512da8;
$secondaryColor:#9575cd;
$error: #f44336;
$success: #4caf50;
$info: #2196f3;
$warning: #f9a825;
$background: #f7f7f7;

:export {
  primary: $primaryColor;
  secondary: $secondaryColor;
  error: $error;
  success: $success;
  info: $info;
  warning: $warning;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
