:host {
  display: block;
}

::ng-deep .topbar-bar {
  border-bottom: 1px solid var(--p-content-border-color) !important;
  border-radius: 0 !important;
  padding: 0.5rem 1.25rem !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
