<p-toolbar styleClass="page-toolbar">
  <ng-template pTemplate="start">
    <h2 class="m-0 text-xl font-semibold">{{ 'FUNDS.TITLE' | translate }}</h2>
  </ng-template>
  <ng-template pTemplate="end">
    <p-button
      icon="pi pi-plus"
      [label]="'FUNDS.ADD_ENTRY' | translate"
      severity="success"
    />
  </ng-template>
</p-toolbar>

@if (service.loading()) {
  <div class="p-4">
    <p-skeleton width="100%" height="3rem" styleClass="mb-2" />
    <p-skeleton width="100%" height="3rem" styleClass="mb-2" />
    <p-skeleton width="100%" height="3rem" styleClass="mb-2" />
    <p-skeleton width="100%" height="3rem" styleClass="mb-2" />
    <p-skeleton width="100%" height="3rem" />
  </div>
} @else {
  <p-tabs>
    <p-tablist>
      <p-tab value="children">{{ 'FUNDS.CHILDREN_FUND' | translate }}</p-tab>
      <p-tab value="internal">{{ 'FUNDS.INTERNAL_FUND' | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>

      <p-tabpanel value="children">
        <p-table
          [value]="service.childrenFund()"
          [paginator]="true"
          [rows]="20"
          styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
          [rowHover]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>{{ 'FUNDS.TYPE' | translate }}</th>
              <th>{{ 'FUNDS.DATE' | translate }}</th>
              <th>{{ 'FUNDS.AMOUNT' | translate }}</th>
              <th>{{ 'FUNDS.NOTE' | translate }}</th>
              <th style="width: 6rem"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entry>
            <tr>
              <td><p-tag [value]="entry.type === 'income' ? ('FUNDS.INCOME' | translate) : ('FUNDS.EXPENSE' | translate)" [severity]="entry.type === 'income' ? 'success' : 'warn'" /></td>
              <td>{{ entry.date }}</td>
              <td>{{ entry.amount | number }}</td>
              <td>{{ entry.note }}</td>
              <td>
                <p-button icon="pi pi-pencil" [text]="true" severity="info" />
                <p-button icon="pi pi-trash" [text]="true" severity="danger" (click)="confirmDelete($event, entry, 'note')" />
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="text-center">{{ 'COMMON.NO_DATA' | translate }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>

      <p-tabpanel value="internal">
        <p-table
          [value]="service.internalFund()"
          [paginator]="true"
          [rows]="20"
          styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
          [rowHover]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>{{ 'FUNDS.TYPE' | translate }}</th>
              <th>{{ 'FUNDS.DATE' | translate }}</th>
              <th>{{ 'FUNDS.AMOUNT' | translate }}</th>
              <th>{{ 'FUNDS.NOTE' | translate }}</th>
              <th style="width: 6rem"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entry>
            <tr>
              <td><p-tag [value]="entry.type === 'income' ? ('FUNDS.INCOME' | translate) : ('FUNDS.EXPENSE' | translate)" [severity]="entry.type === 'income' ? 'success' : 'warn'" /></td>
              <td>{{ entry.date }}</td>
              <td>{{ entry.amount | number }}</td>
              <td>{{ entry.note }}</td>
              <td>
                <p-button icon="pi pi-pencil" [text]="true" severity="info" />
                <p-button icon="pi pi-trash" [text]="true" severity="danger" (click)="confirmDelete($event, entry, 'note')" />
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="text-center">{{ 'COMMON.NO_DATA' | translate }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>

    </p-tabpanels>
  </p-tabs>
}
<p-confirmpopup />
<p-toast />
