@import "../../../base.module.scss";
@import "../../../index.module.scss";

.memberContainer {

  & .searchBar {
    width: 250px;
    margin: 0px;

    @media (max-width: 450px) {
      width: 100%;
    }
  }
  
  & .table {
    @extend .customXScrollBar;
    max-height: 600px;
    overflow-y: auto;
  }
}
