@font-face {
  font-family: "SVN-Poppins";
  src: url('./assets/fonts/SVN-Poppins/SVN-Poppins-Medium.otf') format('otf'),
      url('./assets/fonts/SVN-Poppins/SVN-Poppins-Medium.ttf') format('ttf'),
      url('./assets/fonts/SVN-Poppins/SVN-Poppins.svg') format('svg'),
      url('./assets/fonts/SVN-Poppins/SVN-Poppins.woff') format('woff'),
      url('./assets/fonts/SVN-Poppins/SVN-Poppins.woff2') format('woff2'),
      url('./assets/fonts/SVN-Poppins/SVN-Poppins.eot') format('eot'),;
  font-weight: 400;
  font-style: normal;
}
